.the-title {
    top: 10%;
    text-align: center;
}
.boxone {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: powderblue;
    padding: 10px 200px;
    max-width: 500px;
    text-align: center;
    border-radius: 15px;
}
.boxtwo {
    position: relative;
    left: 50%;
    top: 100px;
    transform: translate(-50%, -50%);
    background-color: powderblue;
    padding: 10px 200px;
    max-width: 500px;
    text-align: center;
    border-radius: 15px;
}
